{% extends "base.html" %}

{% block title %}UnivDZ — Manifestations universitaires{% endblock %}

{% block content %}

<div class="homepage">

<section class="hero-block">

<h1 class="hero-title">
<a href="/evenements">
Appels à communication
</a>
</h1>

<p class="hero-links">

<a href="/evenements?type=manif">Manifestations</a>

<span>•</span>

<a href="/evenements?type=colloque">Colloques</a>

<span>•</span>

<a href="/evenements?type=seminaire">Séminaires</a>

</p>

</section>



<section class="hero-block">

<h1 class="hero-title">
<a href="/bourses">
Les Bourses
</a>
</h1>

</section>



<section class="hero-block">

<h1 class="hero-title">
<a href="/revues">
Appels à contribution
</a>
</h1>

<p class="hero-links">

<a href="/revues">
Revues scientifiques
</a>

</p>

</section>

</div>

{% endblock %}